/*General Definitions*/

body {
	background-color: #FAFAFA !important;
}

/*Images*/

img {
	image-rendering: auto;
  	image-rendering: crisp-edges;
  	image-rendering: pixelated;
}

/*paragraph*/

p {
	font-size: 16px;
}

code {
	color: #000000 !important;
	text-decoration-color: #000000 !important;
}

a{
	color:white;
}
.page-header-right {
	text-align: right;
}

.p-right {
	text-align: right !important;
}

.home-section {
	padding-bottom: 10px;
}


	
